// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.is-paddingless {
    padding: 0 !important;
}

.is-shown {
    display: block;
}

.is-fullwidth {
    width: 100%;
}

.TODO,
.todo {
    background-color: #f00;
    color: #fff;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
