// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

$zoom-image-max-width: calc((99.9% - #{$gutter-width}) * 2 / 3 - #{$gutter-width});

$zoom-image-max-height: calc(100vh - (#{$header-height} + #{$header-margin-bottom}) * 2);

$square-zoom-image-min-width: ($page-min-width + $gutter-width) * 1 / 2 - $gutter-width;

$vertical-zoom-image-min-width: ($page-min-width + $gutter-width) * 1 / 3 - $gutter-width;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.xxImageZoom {
    display: table;
    width: 100%;
    max-width: $page-max-width + $gutter-width * 2;
    min-width: $page-min-width + $gutter-width * 2;
    min-height: 100%;
    margin: 0 auto;
    padding: 0 $gutter-width;

    @include breakpoint-mobile {
        max-width: 100%;
        min-width: 100%;
        padding: 0;
    }
}

.xxImageZoom-inner {
    display: none;
    position: relative;
    padding: $header-height + $header-margin-bottom 0;
    text-align: center;
    vertical-align: middle;
    &.is-active {
        display: table-cell;
    }

    @include breakpoint-mobile {
        padding: 40px 30px;
        vertical-align: initial;

        @include landscape {
            padding: 40px 50px;
        }
    }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.xxImageZoom-image {
    display: inline-block;
    width: $zoom-image-max-width;
    min-width: 0;
    vertical-align: middle;
    &--square {
        max-width: $zoom-image-max-height;
        min-width: $square-zoom-image-min-width;
    }
    &--portrait {
        // min-width: $vertical-zoom-image-min-width;
    }
    &--landscape {
        // empty
    }

    @include breakpoint-mobile {
        display: block;
        width: 100%;
        max-width: 100% !important; // needed to overide inline styling in ZoomThumbnail
        margin-top: 24px;
    }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.xxImageZoom-content {
    display: inline-block;
    max-width: calc((99.9% - #{$gutter-width}) * 1/3 - #{$gutter-width});
    margin: 0 0 0 #{$gutter-width};
    color: $white;
    text-align: left;
    vertical-align: middle;

    @include breakpoint-mobile {
        display: block;
        width: 100%;
        max-width: 100%;
        margin: 0;
        font-size: 12px;
    }

    a {
        &:link,
        &:visited {
            color: $accent-color;
        }
        &:focus,
        &:hover,
        &:active {
            color: $white;
        }

    }

    .xxLift {
        border-top: 1px solid $scorpion;
        margin-top: 22px;
        color: $base-color;
    }
}

.xxImageZoom-subtitle {
    margin-bottom: 24px;
    color: $white;

    @include breakpoint-mobile {
        margin: 16px 0;
    }
}

.xxImageZoom-nav {
    position: relative;
    border-top: 1px solid $scorpion;
    margin: 22px 0 0;
    padding: 20px 0 0;
    text-align: center;

    @include breakpoint-mobile {
        border-top: 0;
        margin-top: 0;
        padding: 0 8px;
        position: fixed;
        top: 20%;
        left: -1px;
        width: 100%;

        @include landscape {
            top: 50%;
            padding: 0 20px;
        }
    }
}

.xxImageZoom-current {
    color: $base-color;

    @include breakpoint-mobile {
        display: none;
    }
}

.xxImageZoom-prev,
.xxImageZoom-next {
    float: left;
    position: relative;
    width: 30px;
    height: 29px;
    margin-top: -3px;
    margin-left: -8px;
    text-indent: $indent-off-screen;

    @include arrow(W, 12px, 1px, $quaternary-color);

    &:hover {
        &::before,
        &::after {
            background: $white;
        }
    }
}

.xxImageZoom-next {
    float: right;
    margin-right: -8px;

    &::before,
    &::after {
        transform-origin: 100% 50%;
    }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
