// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.xxPage {
    max-width: $page-max-width;
    min-width: $page-min-width;
    margin: 0 auto;
    padding: 121px 24px 101px;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
