// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Code uses PX to match the design. Relative scale should be introduced
// with design feedback, to avoid disrupting current white space & rhythm.
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

$page-max-width: 1080px; // based on design, allows for good line width in columns
$page-min-width: 976px; // iPad

$gutter-width: 24px; // gutters are fixed width, columns are fluid

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

$breakpoint-mobile: 767px; // below iPad size but could be anything

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Colours

$alto: #d0d0d0;
$white: #fff;
$dove-gray: #636363;
$mine-shaft: #3d3d3d;
$burning-orange: #ff6b31;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

$base-color: #989898;
$secondary-color: $mine-shaft;
$tertiary-color: #aaa;
$quaternary-color: #ccc;

$neon-color: #94a0ab;
$accent-color: $burning-orange;

$bg-color: #f5f5f5;
$bg-secondary-color: #f0f0f0;
$bg-tertiary-color: #d8d8d8;

$error-color: #f00;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

$serif-family: 'Harriet Display Light', 'Century Schoolbook', serif;
$sans-serif-family: 'Balto Web', Helvetica, Arial, sans-serif;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

$default-font-size: 18px;
$default-vertical-rhythm: 27px;

$default-mobile-font-size: 12px;
$default-mobile-vertical-rhythm: 18px;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

$page-padding-bottom: 101px;

$header-height: 87px;
$header-margin-bottom: 34px;

$collection-padding-top: 30px;
$collection-padding-bottom: 40px;
$collection-margin-bottom: 20px;

$processing-ribbon-height: 5px;

$form-element-height: 45px;
$form-element-border: 1px;
$form-element-padding-horizontal: 10px;

$button-width: 152px;

$upload-button-size: 53px; // has to be odd to allow centering the + inside
$upload-button-offset: 35px;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

$mobile-page-padding-bottom: 42px;

$mobile-header-height: 47px;
$mobile-header-margin-bottom: 15px;

$mobile-collection-padding-top: 14px;
$mobile-collection-padding-bottom: 20px;

$mobile-form-element-height: 34px;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

$indent-off-screen: -10000px;

$max-possible-px: 100000px; // where Infinite is necessary

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

$z-index-header: 1000;
$z-index-upload-button: 500;

$z-index-above-everything: 100000;
$z-index-overlay: 10000;

$z-index-feature-content: 100;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

$default-transition-speed: 0.2s;
$default-transition-easing: ease-in-out;
$default-transition: $default-transition-speed $default-transition-easing;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
