// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.xxCollectionAction {
    @include clearfix;
    clear: both;

    p {
        margin: 12px 0 20px;
    }

    .xxTitle {
        margin-top: -5px;
    }
    &--no-bottom-margin {
        p {  
            margin-bottom: 0;
        }
    } 
}

.xxCollectionAction-buttons {
    @include clearfix;
    .xxButton {
        float: left;
        width: calc((99.9% + #{$gutter-width}) * 1/2 - #{$gutter-width});
        + .xxButton {
            float: right;
        }
        &--fullwidth { 
            width: 100%;  
        } 
        &--extra-margin-top { 
            margin-top: 20px;  
        } 
    }

}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
