// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.xxCollectionActions {
    @include clearfix;

    border-top: 1px solid #e0e0e0;
    margin: 22px 0 0;
    padding: 20px 0 0;

    @include breakpoint-mobile {
        border-top: 0;
        margin-top: 6px;
        padding-top: 0;
    }
}

.xxCollectionActions-item {
    float: left;
    margin: 0 18px 0 0;
    font-size: 18px;
    line-height: 1;
    vertical-align: top;
}

.xxCollectionActions-anchor {
    display: block;
    color: $quaternary-color;
    cursor: pointer;
    transition: color $default-transition;

    span {
        display: none;
    }

    &:hover {
        color: $secondary-color;
    }
}

.xxCollectionActions-email {
    line-height: 16px;

    &::after {
        @include font-awesome('f0e0');
        font-size: 16px;
    }
}

.xxCollectionActions-share {
    line-height: 16px;

    &::after {
        @include font-awesome('f064');
        font-size: 16px;
    }
}

.xxCollectionActions-save {
    &::after {
        @include font-awesome('f0c7');
    }
}

.xxCollectionActions-delete {
    &::after {
        @include font-awesome('f1f8');
    }
}

.xxCollectionActions-disable {
    &::after {
        @include font-awesome('f12d');
    }
}

.xxCollectionActions-add {
    line-height: 16px;

    &::after {
        @include font-awesome('f055');
        font-size: 16px;
    }
}

.xxCollectionActions-enableserving {
    line-height: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: red;

    &::after {
        @include font-awesome('f011');
        font-size: 16px;
        
    }
}

.xxCollectionActions-disableserving {
    line-height: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: green;

    &::after {
        @include font-awesome('f011');
        font-size: 16px;
    }
}

.xxCollectionActions-more { 
    position: absolute;
    top: 41%;
    right: 0%; 
    &::after {
        @include font-awesome('f061');
        font-size: 25px;
    }
    cursor: pointer; 
    &:hover {
        color: $accent-color;
    }
    @include breakpoint-mobile {
        border-top: 0;
        font-size: 25px;
        padding-top: 0;
    }
    &--disabled {
        cursor: not-allowed; 
        opacity: 0.2;
        filter: alpha(opacity=40);
        &:hover {
            color: $base-color;
        }
    }  
} 

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
