// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

$small-thumbnail-width: calc(99.9% * 1/6 - #{$gutter-width});
$medium-thumbnail-width: calc(99.9% * 1/4 - #{$gutter-width});

$five-thumbnail-width: calc(99.9% * 1/5 - #{$gutter-width});
$three-thumbnail-width: calc(99.9% * 1/3 - #{$gutter-width});
$two-thumbnail-width: calc(99.9% * 1/2 - #{$gutter-width});

$mobile-featured-images-gutter-width: 6px;
$mobile-serving-images-gutter-width: 3px;
$mobile-all-images-gutter-width: 3px;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.xxCollectionImages {
    float: left;
    width: calc((99.9% + #{$gutter-width}) * 2/3 - #{$gutter-width});
    font-size: 14px;
    line-height: 18px;

    @include breakpoint-mobile {
        float: none;
        width: auto;
        border-top: 1px solid #e0e0e0;
        margin-top: 10px;
        padding-top: 18px;
        font-size: 10px;
        line-height: 14px;

        > .xxLift { // styling only for lift component directly inside xxCollectionImages
            border-bottom: 1px solid #e0e0e0;
            padding-bottom: 15px;
            font-size: $default-mobile-font-size;
            line-height: $default-mobile-vertical-rhythm;
        }
    }
}

.xxCollectionImages-featured {
    float: left;
    width: calc((99.9% + #{$gutter-width}) * 1/2 - #{$gutter-width});

    @include breakpoint-mobile {
        width: calc((99.9% + #{$mobile-featured-images-gutter-width}) * 1/2 - #{$mobile-featured-images-gutter-width});
    }

    & + & {
        margin: 0 0 0 $gutter-width;

        @include breakpoint-mobile {
            float: right;
            margin-left: 0;
        }
    }

}

.xxCollectionImages-serving {
    float: left;
    width: calc((99.9% + #{$gutter-width}) * 1/3 - #{$gutter-width});

    @include breakpoint-mobile {
        width: calc((99.9% + #{$mobile-serving-images-gutter-width}) * 1/3 - #{$mobile-serving-images-gutter-width});
    }

    & + & {
        margin: 0 0 0 $gutter-width;

        @include breakpoint-mobile {
            float: right;
            margin-left: 0;
        }
    }

}

.xxThumbnailSoloMessage {
    z-index: 998;
    pointer-events: none;
    position: absolute;
    text-align: center;
    margin-top: 10%;
    width: 21%;
    margin-left: 5%;
    font-size: 1.25em;
    font-weight: bold;
    color: $white;
    text-shadow: 2px 2px 8px $mine-shaft;
    @include breakpoint-mobile {
        width: 25%;
        margin-left: 10%;
        font-size: 1.5em;
    }
}

.xxThumbnailSoloBlurWrapper {
    opacity: 0.5;
    filter: alpha(opacity=50);
    filter: url(blur.svg#blur);
    -webkit-filter: blur(3px);
    filter: blur(3px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
}


.xxCollectionImages-all {
    clear: both;
    width: calc(100% + #{$gutter-width});
    margin: 0 -1 * $gutter-width 0 0;

    @include breakpoint-mobile {
        @include clearfix;

        width: calc(100% + #{$mobile-all-images-gutter-width});
        margin-right: -1 * $mobile-all-images-gutter-width;

        &.is-hidden {
            display: none;
        }
    }

    .xxThumbnail {
        float: left;
        width: $small-thumbnail-width;
        margin: $gutter-width $gutter-width 0 0;

        @include breakpoint-mobile {
            width: calc(99.9% * 1/3 - #{$mobile-all-images-gutter-width});
            margin-top: 1em;
            margin-right: $mobile-all-images-gutter-width;
            margin-bottom: $mobile-all-images-gutter-width;
        }
        &--vertical {
            float: none;
            width: $medium-thumbnail-width;
        }
        &--mediumwidth {
            width: $medium-thumbnail-width;
        }
        &--fivewidth {
            width: $five-thumbnail-width;
        }
        &--threewidth {
            width: $three-thumbnail-width;
        }
        &--twowidth {
            width: $two-thumbnail-width;
        }
        &--fullwidth {
            width: 100%;
        }
    }

    .xxCollection-subtitle {
        @include breakpoint-mobile {
            clear: both;
            padding-top: 14px;
        }
    }
}

.xxCollectionImages-allAnchor {
    float: left;
    position: relative;
    width: $small-thumbnail-width;
    border: 1px solid rgba($base-color, 0.5);
    margin: $gutter-width 0 0;
    color: $base-color;
    cursor: pointer;
    text-align: center;
    transition: border-color $default-transition, color $default-transition;
    user-select: none;

    &:before {
        content: '';
        display: block;
        padding: 0 0 100%;
    }

    a {
        display: block;
        position: absolute;
        top: 50%;
        padding: 0 10px; // prevent text running up against borders
        transform: translateY(-50%);
    }

    &:hover {
        border-color: rgba($accent-color, 0.5);
        color: $secondary-color;
    }

    @include breakpoint-mobile {
        width: 100%;
        border: none;

        &:before {
            padding: 0;
        }

        a {
            color: $accent-color;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1px;
            position: relative;
        }
    }
}
