.xxGifContainer {
    position: relative;
    margin: 0 auto;
    padding: 0;
    max-height: 450px;

    &::after {
        @extend .x-neonscore;
        content: attr(data-score);
        left: 0;
        background-color: rgba($accent-color, 0.9);
        width: $thumbnail-large-score-size;

        @include breakpoint-mobile {
            width: $mobile-thumbnail-score-size;
        }
    }
}

.xxGifVideo {
    width: 100%;
    display: block;
    max-height: 420px;
    object-fit: fill;
    font-family: 'object-fit: fill;';
}
