

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.xxCollection {
    @include clearfix;

    position: relative;
    margin: 0 0 $collection-margin-bottom;
    padding: $collection-padding-top $gutter-width $collection-padding-bottom;
    background: #fff;

    &--processing {
        border-top: $processing-ribbon-height solid rgba($accent-color, .2);
        padding-top: $collection-padding-top - $processing-ribbon-height;
        padding-bottom: $collection-padding-top - $processing-ribbon-height;

        &::before {
            content: '';
            position: absolute;
            top: -1 * $processing-ribbon-height;
            left: 0;
            width: 100%;
            height: $processing-ribbon-height;
            background: linear-gradient(
                to right,
                rgba($accent-color, 0) 0%,
                rgba($accent-color, 0.85) 30%,
                rgba($accent-color, 1) 50%,
                rgba($accent-color, 0.85) 70%,
                rgba($accent-color, 0) 100%
            ) -17% 0 / 34% 100% no-repeat;
            animation: ribbon 5s infinite alternate ease-in-out;
        }
    }
}

.xxCollection-title {
    color: $secondary-color;
    font: normal 25px/32px $serif-family;

    .xxCollection--video &::after {
        @include font-awesome('f03d');

        position: relative;
        top: -2px;
        margin: 0 0 0 10px;
        color: $quaternary-color;
        font-size: 12px;
    }

    .xxCollection--processing & {
        width: calc((99.99% + #{$gutter-width}) * 1/2 - #{$gutter-width} * 2);
    }
}

.xxCollection-subtitle {
    margin: 0 0 6px;
    color: $tertiary-color;
}

.xxCollection-content {
    float: right;
    width: calc((99.99% + #{$gutter-width}) * 1/3 - #{$gutter-width});
    padding: 17px 0 0;

    .xxLift {
        border-top: 1px solid #e0e0e0;
        margin: 20px 0 0;
    }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
