// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.xxCollectionFilterToggle {
    float: right;
    position: relative;
    z-index: 10;
    top: 14px;
    color: $accent-color;

    span {
        position: absolute;
        top: 7px;
        right: 100%;
        margin: 0 12px 0 0;
        color: rgba($base-color, 0);
        font-size: 14px;
        line-height: 1;
        pointer-events: none;
        transition: color .2s ease-in-out;
    }

    &::after {
        @include font-awesome('f021');

        display: block;
        box-sizing: border-box;
        width: 27px;
        height: 27px;
        border-radius: 100%;
        border: 1px solid $accent-color;
        background: #fff;
        font-size: 15px;
        line-height: 26px;
        text-align: center;
        transform: rotate(-60deg);
        transform-origin: 50% 50%;
        transition: transform .2s ease-in-out, color .2s ease-in-out;
    }

    &:hover {
        span {
            color: $base-color;
        }

        &::after {
            background: $accent-color;
            color: #fff;
            transform: rotate(0deg);
        }
    }

    &--countdown {
        cursor: default;

        span {
            width: 70px;
            height: 27px;
            top: 0;
            right: 14px;
            border-top-left-radius: 14px;
            border-bottom-left-radius: 14px;
            margin: 0;
            padding: 1px 0 0 18px;
            background: #f0f0f0;
            color: $tertiary-color;
            line-height: 26px;
        }

        &::after {
            z-index: 100;
            background: $accent-color;
            color: #fff;
            transform: rotate(0deg);
        }
    }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.xxCollectionFilters {
    @include clearfix;
    @include all-caps-title;

    position: relative;
    margin: 14px 0 0;
    padding: 4px 0;
    color: $tertiary-color;
}

.xxCollectionFilters-title, .xxCollectionFilters-versionTitle {
    float: left;
    padding: 4px 10px 4px 0;
    color: $secondary-color;

    .has-dropdown > & {
        cursor: pointer;
    }
}

.xxCollectionFilters-value {
    float: left;
    position: relative;
    padding: 4px 0;

    .has-dropdown > & {
        padding-right: 52px;
        cursor: pointer;

        &::before, &::after {
            content: '';
            position: absolute;
            top: 3px;
            right: 29px;
            z-index: 100000;
            width: 1px;
            height: 10px;
            background: #d8d8d8;
            transform: rotate(-45deg);
            transform-origin: 50% 100%;
        }

        &::after {
            transform: rotate(45deg);
        }
    }

    .is-open > & {
        &::before, &::after {
            top: 7px;
            pointer-events: none;
            transform-origin: 50% 0%;
        }
    }
}

.xxCollectionFilters-dropdown {
    position: absolute;
    width: auto;
    top: -8px;
    left: -16px;
    z-index: 99999;
    box-shadow: 0 0 5px rgba(0, 0, 0, .22);
    background: #fff;
}

.xxCollectionFilters-version {
    height: 44px;
    padding: 0 52px 0 16px;
    cursor: pointer;
    line-height: 44px;
    white-space: nowrap;

    &:hover {
        background: #f0f0f0;
    }
}

.xxCollectionFilters-versionTitle {
    padding-top: 0;
    padding-bottom: 0;
    color: transparent;

    .is-selected > & {
        color: $secondary-color;
    }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
