// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

$nav-font-size: 16px;

.xxNav {
    font-size: $nav-font-size;
    line-height: 1;
}

.xxNav-hamburger {
    color: $tertiary-color;
    @include breakpoint-desktop {
        display: none;
    }
    @include breakpoint-mobile {
        font-size: 2em;
        display: block;
        .has-overlayWithNav & {
            display: none;
        }
    }
}

.xxNav-items {
    @include breakpoint-desktop {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: nowrap;
        align-items: flex-end;
    }
    @include breakpoint-mobile {
        padding: 0 24px;
        display: none;
        .xxPageOverlay & {
            display: block;
        }
    }
}

.xxNav-item {
    @include breakpoint-desktop {
        a {
            padding-left: 1.875em;
            display: block;
        }
    }
    @include breakpoint-mobile {
        line-height: 3;
    }
}

@mixin xx-nav-anchor-styling {
    color: $secondary-color;
    &::after {
        content: "";
        position: absolute;
        height: 1px; // needs to be minimum 1px, any less and the browser doesn't render sometimes
        background: $accent-color;
    }
}

.xxNav-anchor {
    color: $base-color;
    &:hover {
        color: $secondary-color;
    }
    &.is-current {
        @include xx-nav-anchor-styling;
        &::after {
            bottom: 0.5em;
            left: 0;
            width: 1em;
        }
    }
    @include breakpoint-desktop {
        .is-active > & {
            @include xx-nav-anchor-styling;
            &::after {
                bottom: -0.5625em;
                left: 1.9375em;
                width: 0.875em;
            }
        }
    }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
