// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

$table_width: 450px;
$table_width_mobile: 300px;
$table_body_height: 200px;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.has-overlayDark {
    .xxNav-anchor:hover {
        color: $quaternary-color;
    }
}

.has-overlayWithScroll {
    overflow: hidden;
}

.has-overlayWithNav {
    overflow-x: auto;
    overflow-y: hidden;
    .wonderland {
        overflow: hidden;
        height: 100vh;
    }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.xxOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($bg-color, 0.95);
    z-index: $z-index-overlay;
    @include breakpoint-mobile {
        &--light {
            background: $white;
        }
        &--spaced {
            padding: 40px 30px;
        }
    }
    &--dark {
        background: rgba($secondary-color, 0.96);
    }
    &--scroll {
        overflow-x: hidden;
        overflow-y: scroll;
    }
    &--visibleNav {
        z-index: $z-index-header - 1;
        @media (max-width: $page-min-width + $gutter-width * 2) {
            position: absolute;
        }
        @include breakpoint-desktop {
            min-width: $page-min-width + $gutter-width * 2;
        }
    }
    @include breakpoint-mobile {
        &--light {
            background: $white;
        }
    }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.xxOverlay-close {
    position: fixed;
    top: 0;
    right: 0;
    width: 53px;
    height: 53px;
    z-index: $z-index-above-everything;
    text-indent: $indent-off-screen;
    @include breakpoint-mobile {
        top: 20px;
        right: 10px;
    }
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 27px;
        right: 17px;
        width: 21px;
        height: 1px;
        background: $base-color;
        transform: rotate(-45deg);
        transform-origin: 50% 50%;
        transition: background $default-transition;
    }
    &::after {
        transform: rotate(45deg);
    }
    &:hover {
        &::before,
        &::after {
            background: $secondary-color;
        }
        .xxOverlay--dark & {
            &::before,
            &::after {
                background: $quaternary-color;
            }
        }
    }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.xxOverlay-content {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    z-index: 1;
    width: 450px;
    margin: 0 auto;
    text-align: center;
    transform: translateY(-50%);
    @include breakpoint-mobile {
        width: 300px;
    }
    .xxButton {
        margin: 24px auto 0;
    }
    .xxOverLay-Table {
        width: $table_width;
        table-layout: fixed;
        border-collapse: collapse;
        @include breakpoint-mobile {
            width: $table_width_mobile;
        }
        th {
            text-decoration: underline;
        }
        th,
        td {
            padding: 5px;
            text-align: left;
            overflow: hidden;
            word-wrap: break-word;
            white-space: pre-wrap; 
        }
        td:nth-child(1),
        th:nth-child(1) {
            max-width: $table_width * 0.5;
            min-width: $table_width * 0.5;
            @include breakpoint-mobile {
                min-width: $table_width_mobile * 0.5;
            }
        }
        td:nth-child(1) {
            &::before {
                @include font-awesome("f15b");
                padding-right: 5%;
            }
        }
        td:nth-child(2),
        th:nth-child(2) {
            min-width: $table_width * 0.15;
            @include breakpoint-mobile {
                min-width: $table_width_mobile * 0.15;
            }
        }
        td:nth-child(3),
        th:nth-child(3) {
            width: $table_width * 0.35;
            @include breakpoint-mobile {
                width: $table_width_mobile * 0.35;
            }
        }
        thead {
            background-color: $header_background_color;
            color: $header_text_color;
            tr {
                display: block;
                position: relative;
            }
        }
        tbody {
            display: block;
            overflow: auto;
            width: 100%;
            height: $table_body_height;
            tr:nth-child(even) {
                background-color: $alternate_row_background_color;
            }
        }
    }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
