// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.has-overlayDark {
    .xxNav-anchor:hover {
        color: $quaternary-color;
    }
}

.has-overlayWithScroll {
    overflow: hidden;
}

.has-overlayWithNav {
    overflow-x: auto;
    overflow-y: hidden;

    #wonderland {
        overflow: hidden;
        height: 100vh;
    }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.xxOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($bg-color, 0.95);
    z-index: $z-index-overlay;

    @include breakpoint-mobile {
        &--light {
            background: $white;
        }

        &--spaced {
            padding: 40px 30px;
        }
    }

    &--dark {
        background: rgba($secondary-color, 0.96);
    }

    &--scroll {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    &--visibleNav {
        z-index: $z-index-header - 1;
        min-width: $page-min-width + $gutter-width * 2;

        @media (max-width: $page-min-width + $gutter-width * 2) {
            position: absolute;
        }
    }

    @include breakpoint-mobile {
        &--light {
            background: $white;
        }
    }
}

.xxOverlay-close {
    position: fixed;
    top: 0;
    right: 0;
    width: 53px;
    height: 53px;
    z-index: $z-index-above-everything;
    text-indent: $indent-off-screen;

    @include breakpoint-mobile {
        top: 20px;
        right: 10px;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 27px;
        right: 17px;
        width: 21px;
        height: 1px;
        background: $base-color;
        transform: rotate(-45deg);
        transform-origin: 50% 50%;
        transition: background $default-transition;
    }

    &::after {
        transform: rotate(45deg);
    }

    &:hover {
        &::before,
        &::after {
            background: $secondary-color;
        }

        .xxOverlay--dark & {
            &::before,
            &::after {
                background: $quaternary-color;
            }
        }
    }
}

.xxOverlay-content {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    z-index: 1;
    width: 450px;
    margin: 0 auto;
    text-align: center;
    transform: translateY(-50%);

    .xxButton {
        margin: 24px auto 0;
    }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
