// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.xxPagingControls {
    margin-top: 1.6667em;
}

.xxPagingControls-navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    &--GifClip {
        margin-top: 2.5%;
    }
}

.xxPagingControls-navigation-item {
    width: 20%;
    text-align: center;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.xxPagingControls-prev,
.xxPagingControls-next {
    @include arrow(W, 1em, 2px, $quaternary-color);
    border: 0;
    background-color: transparent;
    position: relative;
    width: 50px;
    height: 29px;
    text-indent: $indent-off-screen;
    cursor: pointer;
    outline: none;
    &--GifClip {
        @include arrow(W, 12px, 2px, $quaternary-color);        
    }
    &:hover {
        &::before,
        &::after {
            background: $secondary-color;
        }
    }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.xxPagingControls-prev {
    // empty
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.xxPagingControls-next {
    &::before,
    &::after {
        transform-origin: 100% 50%;
    }
    &--mobileGifClosed {
        &::before,
        &::after {
            transform-origin: 50% -250%;
        }
    }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
