// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.xxThumbnail {
    display: block;
    position: relative;
    width: 100%;

    &::before {
        content: '';
        display: block;
        padding: 0 0 100%;
    }

    &::after {
        content: attr(data-score);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 30px;
        height: 30px;
        background: $accent-color;
        color: #fff;
        font-size: 14px;
        line-height: 30px;
        vertical-align: middle;
        text-align: center;
    }

    &--lowScore::after {
        background: $base-color;
    }

    &--large::after {
        width: 42px;
        height: 42px;
        font-size: 18px;
        line-height: 42px;
    }

    &[href]:hover {
        .xxThumbnail-image {
            border-color: $accent-color;
        }
    }
}

.xxThumbnail-image {
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 2px;
    border: 2px solid rgba($accent-color, 0);
    transition: border-color .2s ease-in-out;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
