// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

$thumbnail-small-score-size: 30px;
$thumbnail-large-score-size: 42px;

$thumbnail-hover-border: 2px;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.xxThumbnail {
    display: block;
    position: relative;
    width: 100%;

    &::before {
        content: '';
        display: block;
        padding: 0 0 100%;
    }

    &::after {
        content: attr(data-score);
        position: absolute;
        bottom: 0;
        left: 0;
        width: $thumbnail-small-score-size;
        height: $thumbnail-small-score-size;
        background: $accent-color;
        color: #fff;
        font-size: 14px;
        line-height: $thumbnail-small-score-size;
        vertical-align: middle;
        text-align: center;
    }

    &--lowScore::after {
        background: $base-color;
    }

    &--large::after {
        width: $thumbnail-large-score-size;
        height: $thumbnail-large-score-size;
        font-size: 18px;
        line-height: $thumbnail-large-score-size;
    }
}

.xxThumbnail-image {
    position: absolute;
    top: -1 * $thumbnail-hover-border;
    left: -1 * $thumbnail-hover-border;
    width: calc(100% + #{$thumbnail-hover-border} * 2);
    height: calc(100% + #{$thumbnail-hover-border} * 2);
    border-radius: 2px;
    border: $thumbnail-hover-border solid rgba($accent-color, 0);
    transition: border-color $default-transition;

    .xxThumbnail[href]:hover > & {
        border-color: $accent-color;
    }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
