// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// roughly 1.7x the size of $upload-button-size but the resulting number
// has to be odd to keep both centred correctly, hence the specific value
$upload-button-help-circle-size: $upload-button-size + 38px;
$upload-button-help-line-length: 190px;

$upload-type-button-size: 37px;

$default-button-transitions: box-shadow $default-transition, transform $default-transition, background $default-transition;

$zindex-upload-drag-and-drop: 1;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.xxUploadButton {
    position: fixed;
    right: 50%;
    cursor: pointer;
    bottom: $upload-button-offset;
    z-index: $z-index-upload-button;
    width: $upload-button-size;
    height: $upload-button-size;
    border-radius: 50%;
    border: 2px solid $white;
    box-shadow: 0 0 8px rgba(0, 0, 0, .2);
    margin-right: -1 * $page-max-width / 2 - floor($upload-button-size / 2);
    background: $accent-color;
    text-indent: $indent-off-screen;
    transition: $default-button-transitions,
                z-index 0s $default-transition; // this is needed to avoid button disappearing behind overlay

    @media (max-width: $page-max-width + 2 * ($upload-button-offset + $gutter-width)) {
        right: $upload-button-offset;
        margin-right: 0;
    }

    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, .3);
        transform: rotate(90deg);
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: ($upload-button-size - 1px) / 2 - 2px;
        left: ($upload-button-size - 19px) / 2 - 2px;
        width: 19px;
        height: 1px;
        background: $white;
    }

    &::after {
        transform: rotate(90deg);
        transform-origin: 50% 50%;
    }

    .is-open > & {
        z-index: $z-index-overlay + 1;
        background: $quaternary-color;
        transform: rotate(-45deg);
        transition: $default-button-transitions;

        &:hover {
            transform: rotate(45deg);
        }
    }

    .is-hidden > & {
        display: none;
    } 
    .has-dialog > & {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.xxUploadTypes {
    position: fixed;
    right: 50%;
    bottom: $upload-button-offset + $upload-button-size + 28px;
    margin-right: -1 * $page-max-width / 2 - floor($upload-button-size / 2) + ($upload-button-size - $upload-type-button-size) / 2;

    @media (max-width: $page-max-width + 2 * ($upload-button-offset + $gutter-width)) {
        right: $upload-button-offset + ($upload-button-size - $upload-type-button-size) / 2;
        margin-right: 0;
    }
}

.xxUploadTypes-button {
    display: block;
    position: relative;
    width: $upload-type-button-size;
    height: $upload-type-button-size;
    border-radius: 50%;
    margin-top: $upload-type-button-size / 2;
    background: $base-color;
    line-height: $upload-type-button-size;
    text-align: center;
    transition: background $default-transition;

    &:hover {
        background: $accent-color;
        color: #fff;

        .xxUploadTypes-buttonLabel {
            opacity: 1;
        }
    }

    &::before {
        position: relative;
        right: -0.5px;
        color: #fff;
        font-size: 16px;
    }

    &--photo::before {
        @include font-awesome('f030'); // fa-camera
    }

    &--video::before {
        @include font-awesome('f03d'); // fa-video-camera
    }

    @include breakpoint-mobile {
        width: 70px;
        height: 70px;
        right: 27px;
        bottom: 26px;
        border: 4px solid $white;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 30px;
            left: 22px;
        }

        .is-open > & {
            background: transparent;
            top: 24px;

            &::before,
            &::after {
                background: $quaternary-color;
                width: 24px;
                height: 2px;
            }
        }
    }
}

.xxUploadTypes-buttonLabel {
    @include all-caps-title;

    position: absolute;
    top: 0;
    right: 100%;
    margin-right: 16px;
    color: $secondary-color;
    line-height: $upload-type-button-size;
    opacity: 0;
    pointer-events: none;
    transition: opacity $default-transition;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


.xxUploadDialog {
    @include clearfix;

    position: absolute;
    bottom: $upload-button-offset + ($upload-button-size - 1px) / 2;
    right: $gutter-width;
    left: $gutter-width;
    width: $page-max-width;
    max-width: calc(100% - #{$gutter-width} * 2);
    margin: 0 auto;

    @media (max-width: $page-max-width + 2 * ($upload-button-offset + $gutter-width)) {
        right: $upload-button-offset + ($upload-button-size - 1px) / 2;
        margin: 0 0 0 auto;
    }

    .xxTitle {
        margin-bottom: 28px;
        
        @include breakpoint-mobile {
            margin-bottom: 20px;
        }
    }

    .xxButton {
        width: 100%;
        margin-top: 26px;

        @include breakpoint-mobile {
            width: 100px;
            margin-top: 0;
        }
    }

    .xxSelect {
        float: left;
        width: calc((99.9% + #{$gutter-width}) * 1/2 - #{$gutter-width});

        + .xxSelect {
            float: right;
        }
    }

    @include breakpoint-mobile {
        position: static;
        margin: 24px auto;
    }
}

.xxUploadDialog-inner {
    float: right;
    position: relative;
    width: calc((99.9% - #{$gutter-width}) * 1/3 + #{$gutter-width});
    min-width: ($page-min-width - $gutter-width) * 1/3 + $gutter-width;
    z-index: $zindex-upload-drag-and-drop + 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    padding: $gutter-width $gutter-width 42px;
    background: $white;

    & > .xxButton {
        width: 100%;
        margin-top: 26px;
    }
}

.xxUploadDialog-drag-drop {
    float: right;
    position: relative;
    width: calc((99.9% - #{$gutter-width}) + #{$gutter-width});
    min-width: ($page-min-width - $gutter-width) * 1/3 + $gutter-width;
    z-index: $zindex-upload-drag-and-drop + 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    padding: $gutter-width $gutter-width 42px;
    background: $white;

    // & > .xxButton {
    //     width: 25%;
    //     margin-top: 26px;
    // }
}

.xxUploadDialog-block {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    & > .xxButton {
        display: inline-block;
        position: relative;
        width: 40%;

    }
    & > .xxButton-center {
        width: 20%;
        background: transparent;
        pointer: none;
        border: none; 
     }
     & > .xxInputText-upload {
        width: 55%;
        margin-right: 5%
     }   
}


.xxUploadDialog-intro {
    padding-bottom: 16px;

    .xxTitle {
        margin-bottom: 12px;
    }
}

.xxButton--uploadDialog {
    float: left;
    width: calc((99.9% + #{$gutter-width}) * 1/2 - #{$gutter-width});

    & + & {
        float: right;
        @include breakpoint-mobile {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0);
            float: none;
            min-width: 100%;
        }
    }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.xxUploadButton-help {
    @include all-caps-title;

    position: fixed;
    right: 50%;
    bottom: $upload-button-offset;
    margin-right: -1 * $page-max-width / 2 + floor($upload-button-help-circle-size / 2) + $upload-button-help-line-length;
    padding-right: 20px;
    color: $secondary-color;
    line-height: $upload-button-size;
    pointer-events: none;

    @media (max-width: $page-max-width + 2 * ($upload-button-offset + $gutter-width)) {
        right: $upload-button-offset + $upload-button-size + ($upload-button-help-circle-size - $upload-button-size) / 2 + $upload-button-help-line-length;
        margin-right: 0;
    }

    .xxFadeInOut-leave & {
        opacity: 0;
    }

    @include breakpoint-mobile {
        line-height: 12px;
        font-size: 11px;
        padding-left: 25px;
        right: auto;
        bottom: 40px;
        width: 100%;

        p {
            width: 180px;
        }
    }
}

.xxUploadButton-helpCircle {
    position: absolute;
    top: ($upload-button-size - $upload-button-help-circle-size) / 2;
    left: calc(100% + #{$upload-button-help-line-length} - 1px); // 1px to account for floor above
    width: $upload-button-help-circle-size;
    height: $upload-button-help-circle-size;
    border: 1px solid rgba($base-color, .5);
    border-radius: 50%;

    @include breakpoint-mobile {
        left: auto;
        right: 17px;
        top: -43px;
    }
}

.xxUploadButton-helpLine {
    position: absolute;
    top: floor($upload-button-size / 2);
    left: calc(100% - 1px);
    width: $upload-button-help-line-length; // 1px to account for floor above
    height: 1px;
    background: rgba($base-color, .5);

    @include breakpoint-mobile {
        display: none;
    }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
.xxUploadDialog-drag-drop
.xxDragAndDrop {
    // position: relative;
    // top: 50%;
    width: 40%;
    margin: 0px auto; 
    // right: 0;
    // bottom: 0;
    // left: 0;
    // display: flex;
    // align-items: center;
    // justify-content: center
    // z-index: $zindex-upload-drag-and-drop;
    border: 3px solid $accent-color;
    padding: 10%;
    transition: background $default-transition;
    border-style: dotted;

    .has-dragAndDropHover > & {
        background: rgba($accent-color, .05);
        border-style: dotted;
    }
}

.xxDragAndDrop-content {
    @include all-caps-title;

    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: ($page-max-width - $gutter-width * 4) / 3;
    margin: 0 auto;
    color: rgba($secondary-color, .7);
    line-height: 16px;
    text-align: center;
    transform: translateY(-50%);
}

.xxDragAndDrop-hint,
.xxDragAndDrop-complete {
    &::before {
        content: '';
        display: block;
        width: 68px;
        height: 43px;
        margin: 0 auto 18px;
        background: url(../img/xx/upload.svg) 0 0 / 100% 100% no-repeat;
    }
}

.xxDragAndDrop-complete {
    &::before {
        background-image: url(../img/xx/upload-complete.svg);
    }
}

.xxDragAndDrop-progressCounter {
    display: block;
    margin-bottom: 7px;
    color: $accent-color;
    font: normal 45px $serif-family;
}
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
