// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

$onboarding-countdown-height: $form-element-height;
$onboarding-text-padding: 18px;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.xxVideoloadingSpinner {
	@media (max-width: $page-max-width + 2 * ($upload-button-offset + $gutter-width)) {
	    right: $upload-button-offset + floor($upload-button-size / 2);
	    margin-right: 0;
	}

	&::before {
	    @include font-awesome('f021');

	    // box-sizing: border-box;
	    position: absolute;
	    top:0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    margin: auto;
	    width: $upload-button-size * 3;
	    height: $upload-button-size  * 3;
	    border-radius: 50%;
	    border: 2px solid $white;
	    background: $accent-color;
	    color: $white;
	    font-size: $upload-button-size * 2 - 3px;
	    line-height: $upload-button-size * 3 - 3px;
	    text-align: center;
	    transform: rotate(-60deg);
	    animation: rotate 2s infinite linear;
	}
}

.xxValenceloadingSpinner {
    float: right;
    position: relative;
    z-index: 1;
    bottom: 40px;
    color: $accent-color;
    cursor: pointer;
    transform: rotate(0deg);
    animation: rotate 2s infinite linear;
    display: inline-block;
    margin-left: .5em;

    @include breakpoint-mobile {
        display: none;
    }

    &::after {
        @include font-awesome('f021');

        display: block;
        box-sizing: border-box;
        width: 27px;
        height: 27px;
        border-radius: 50%;
        border: 1px solid $accent-color;
        background: $white;
        font-size: 15px;
        line-height: 26px;
        text-align: center;
        transform: rotate(-60deg);
        transform-origin: 50% 50%;
        transition: transform $default-transition, color $default-transition;
    }

    &:hover {
        .xxCollectionFilterToggle-label {
            color: $base-color;
        }

        &::after {
            background: $accent-color;
            color: $white;
            transform: rotate(0deg);
        }
    }
}
