// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

$onboarding-countdown-height: $form-element-height;
$onboarding-text-padding: 18px;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.xxVideoloadingSpinner {
	background: white
	@media (max-width: $page-max-width + 2 * ($upload-button-offset + $gutter-width)) {
	    right: $upload-button-offset + floor($upload-button-size / 2);
	    margin-right: 0;
	}

	&::before {
	    @include font-awesome('f021');

	    // box-sizing: border-box;
	    position: absolute;
	    top:0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    margin: auto;
	    width: $upload-button-size * 3;
	    height: $upload-button-size  * 3;
	    border-radius: 50%;
	    border: 2px solid $white;
	    background: $accent-color;
	    color: $white;
	    font-size: $upload-button-size * 2 - 3px;
	    line-height: $upload-button-size * 3 - 3px;
	    text-align: center;
	    transform: rotate(-60deg);
	    animation: rotate 2s infinite linear;
	}
}