$max: 4em;

.wonderland-banner {
    background-color: #939da7;
    color: #fff;
    a {
        color: #fff;
        &.active {
            background-color: #fff;
            color: #939da7;
            padding: 0.2em;
        }
    }
}

.wonderland-banner--header {
    height: $max;
}

.wonderland-navbar {
    height: $max;
}

.wonderland-logo {
    max-height: $max * 0.618;
}

.wonderland-avatar {
    border-radius: 50%;
    width: $max * 0.618;
    height: $max * 0.618;
    background-color: #fff;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    .fa {
        font-size: $max * 0.5;
        color: #939da7;
    }
}
