// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.wonderland-hud {
    margin-top: 0.618em;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $grey-dark;
    .fa {
        font-size: 1em; // hack
    }
}

.wonderland-hud__item {
    display: flex;
    align-items: center;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
