// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 

.wonderland-dl {

}

.wonderland-dt {
    font-weight: bold;
    & > * {
        font-weight: bold;
    }
}

.wonderland-dd {
    @include x-truncate;
    padding-bottom: 1em;
}

.wonderland-dd:last-child {
    padding-bottom: 0;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
