// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.wonderland-input-text-edit {
    background-color: transparent;
    border: 1px solid $grey-lighter;
    box-shadow: none;
    &:focus {
        background-color: $white;
        border-color: $primary;
    }
 }
 .wonderland-input-text-edit__container {
    .wonderland-icon-bitmap {
        opacity: 0;
    }
    &:focus{
        .wonderland-icon-bitmap {
            opacity: 1.0;
        }
    }
    &:hover{
        .wonderland-icon-bitmap {
            opacity: 1.0;
        }
    }
    &:active{
        .wonderland-icon-bitmap {
            opacity: 1.0;
        }
    }
    &.-is-loading {
        .wonderland-icon-bitmap {
            opacity: 1.0;
        }
    } 
 }


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
