// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.wonderland-input-text-edit {
    background-color: transparent;
    border: 1px solid $grey-lighter;
    box-shadow: none;
    &:focus {
        background-color: $white;
        border-color: $primary;
    }
 }
 .wonderland-input-text-edit__container {
    i {
        opacity: 0.0;
    }
    &:focus {
        i {
            opacity: 1.0;
            border-left: 1px solid $colour-pacific-blue;
        }
    }
    &:hover {
        i {
            opacity: 1.0;
            border-left: 1px solid $colour-silver-chalice;
        }
    }
    &:active {
        i {
            opacity: 1.0;
            border-left: 1px solid $colour-pacific-blue;
        }
    }
 }

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
