// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 

.wonderland-input-text-edit {
    background-color: transparent;
    border: 1px solid transparent;
    box-shadow: none;
    &:focus {
        background-color: $white;
        border-color: $primary;
    }
 }

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
