// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.wonderland-navbar-bottom {
}

.wonderland-navbar-bottom__item {
    display: inline-block;
    margin-right: 0.618em;
    padding-right: 0.618em;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
