// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.wonderland-pre {
    margin-bottom: 1em;
    code {
        background-color: $warning;
        border-radius: 0.3333em;
        color: $blackish;
        line-height: 1.618;
    }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
