// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 

.wonderland-thumbnail {
    position: relative;
    cursor: pointer;
}

.wonderland-thumbnail__image {
    display: block;
    border-radius: 0.5em;
    width: 100%;
    height: auto;
    border: 1px solid rgba(#939da7, 0.2);
}

.wonderland-thumbnail__caption {
    // empty
}

.wonderland-thumbnail__score {
    position: absolute;
    bottom: 4%;
    right: 3%;
    display: none;
}

.wonderland-thumbnail__enabled {
    position: absolute;
    bottom: 4%;
    left: 3%;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 