// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 

.wonderland-thumbnail {
    position: relative;
    cursor: pointer;
    border-radius: 0.5em;
    overflow: hidden;
}

.wonderland-thumbnail__image {
    display: block;
    width: 100%;
    height: auto;
    transition: all 1s;
    .is-wonderland-enabled & {
    }
    .is-wonderland-disabled & {
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
    }
}

.wonderland-thumbnail__caption {
    // empty
}

.wonderland-thumbnail__score {
    position: absolute;
    bottom: 4%;
    right: 3%;
    background-color: silver;
    transition: all 1s;
}

.wonderland-thumbnail__indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
    transition: opacity 1s;
    &.-foreground {
        .is-wonderland-enabled & {
            color: #97cd76;
        }
        .is-wonderland-disabled & {
            color: #ed6c63;
        }
    }
    &.-background {
        display: none;
    }
    .is-wonderland-enabled & {
        opacity: 0;
    }
    .is-wonderland-disabled & {
        opacity: 1;
    }
    .fa {
        font-size: 6em; // hack
        .modal & {
            font-size: 15em; // hack
        }
    }
}

.wonderland-thumbnail__enabled {
    display: none;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 