// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.wonderland-thumbnail {
    position: relative;
    cursor: pointer;
    border-radius: 0.5em;
    overflow: hidden;
}

.wonderland-thumbnail__image {
    display: block;
    width: 100%;
    height: auto;
    transition: all 1s;
    .is-wonderland-enabled & {
    }
    .is-wonderland-disabled & {
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
    }
}

.wonderland-thumbnail__caption {
    // empty
}

.wonderland-thumbnail__neonscore {
    position: absolute;
    bottom: 4%;
    right: 3%;
    background-color: $grey;
    transition: background-color, color 1s;
}

.wonderland-thumbnail__default-stamp {
    position: absolute;
    top: 4%;
    right: 3%;
    transition: background-color, color 1s;
}

.wonderland-thumbnail__indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
    transition: opacity 1s;
    .is-wonderland-enabled & {
        color: $success;
        opacity: 0;
    }
    .is-wonderland-disabled & {
        opacity: 1;
        color: $danger;
    }
    .fa {
        font-size: 6em; // hack
        .modal & {
            font-size: 15em; // hack
        }
    }
}

.wonderland-thumbnail__enabled {
    // This is the ACTUAL checkbox
    display: none;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.wonderland-hero-thumbnail {
    width: 5em;
    height: auto;
}

.wonderland-hero-thumbnail-dummy {
    text-align: center;
    color: $grey-light;
    height: auto;
    .fa {
        font-size: 5em;
    }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
