// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.wonderland-tooltip {
    cursor: help;
    &:after {
        background-color: $orange;
        color: $white;
        padding: 0.618em 1em;
        font-size: 0.618;
        font-family: inherit;
        line-height: inherit;
        text-shadow: none;
        box-shadow: none;
        border-radius: 0.3333em;
    }
    &.-top {
        &:before {
            border-top-color: $orange;
        }
    }
    &.-right {
        &:before {
            border-right-color: $orange;
        }
    }
    &.-bottom {
        &:before {
            border-bottom-color: $orange;
        }
    }
    &.-left {
        &:before {
            border-left-color: $orange;
        }
    }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
