// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 

.wonderland-xylophone {
    display: block;
    height: 2em;
    width: 56px;
}

.wonderland-xylophone__slot {
    width: 6px;
    height: 100%;
    display: inline-block;
    margin-right: 2px;
    background-color: $grey-lighter;
    position: relative;
    &.is-dummy {
        background-color: transparent;
    }
}

.wonderland-xylophone__bar {
    width: 6px;
    // height: set inline;
    display: block;
    vertical-align: bottom;
    position: absolute;
    bottom: 0;
    left: 0;
    &.is-dummy {
        background-color: transparent;
    }
    &.is-good {
        background-color: $green;
    }
    &.is-ok {
        background-color: $orange;
    }
    &.is-bad {
        background-color: $red;
    }
    &.is-disabled {
        background-color: $grey;
    }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
