// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@keyframes ribbon {
    0% {
        background-position: -17% 0;
    }

    100% {
        background-position: 117% 0;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.xxFadeInOut,
.xxFadeInOutFast {
    &-appear,
    &-enter {
        opacity: 0;
    }

    &-appear-active,
    &-enter-active {
        opacity: 1;
        transition: opacity $default-transition-speed * 2 $default-transition-easing;
    }

    &-leave {
        opacity: 1;
    }

    &-leave-active {
        opacity: 0;
        transition: opacity $default-transition-speed * 2 $default-transition-easing;
    }
}

.xxFadeInOutFast {
    &-enter-active,
    &-leave-active {
        transition-duration: $default-transition-speed;
    }
}

.xxFadeInOutSequential {
    &-enter {
        max-height: 0;
        opacity: 0;
    }

    &-enter-active {
        max-height: $max-possible-px;
        opacity: 1;
        transition: opacity $default-transition $default-transition-speed, max-height 0s $default-transition-speed;
    }

    &-leave {
        max-height: 0;
        opacity: 1;
    }

    &-leave-active {
        opacity: 0;
        transition: opacity $default-transition;
    }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
