// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

body {
    overflow-x: auto;
    overflow-y: scroll;
    background: $bg-color;
    color: $base-color;
    font: $base-type;
}

a {
    text-decoration: none;
    transition: color .2s ease-in-out;
}

#wonderland {
    min-width: $page-min-width + $gutter-width * 2;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
