// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
// Based on http://sass-guidelin.es/#the-7-1-pattern
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 

@charset 'UTF-8';

// Neon
$curious-blue: #26a9e0;
$flamingo: #f16122;
$gray: #888;
$silver-chalice: #aaa;
$athens-gray: #edecee;
$white: #fff;

// Overrides
$blue: $curious-blue;
$orange: $flamingo;
$grey-darker: $gray;
$grey-dark: $gray;
$grey: $silver-chalice;
$grey-light: mix($silver-chalice, $athens-gray, 25%);
$grey-lighter: $athens-gray;
$family-sans-serif: "Open Sans", sans-serif;
$primary: $blue;
$red: $orange;
$body-background: $white;
$background: $white;

@import '../../node_modules/bulma/sass/utilities/utilities';
@import "../../node_modules/bulma/sass/utilities/variables";
@import '../../node_modules/bulma/sass/base/base';
@import '../../node_modules/bulma/sass/elements/elements';
@import '../../node_modules/bulma/sass/components/components';
@import '../../node_modules/bulma/sass/layout/layout';

// 1. Configuration and helpers
@import
    'abstracts/variables',
    'abstracts/functions',
    'abstracts/mixins',
    'abstracts/animation';

// 2. Vendors
// @import
    // 'vendor/normalize';

// 3. Base stuff
@import
    'base/base',
    'base/fonts',
    'base/typography',
    'base/helpers';

// 4. Layout-related sections
// @import
    // 'layout/header',
    // 'layout/footer';

// 5. Components
@import
    'components/thumbnail',
    'components/video',
    'components/videos',
    'components/thumbbox',
    'components/slides',
    'components/infobox',
    'components/checkbox',
    'components/modal',
    'components/xylophone',
    'components/banner',
<<<<<<< HEAD
    'components/inputtextedit'

=======
    'components/wondertabs'
>>>>>>> e407c8a... Wonder tabs update
;

// 6. Page-specific styles
// @import
    // 'pages/home';

// 7. Themes
// @import
    // 'themes/default';
