// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@include keyframes(xfade) {
    0% {
        opacity: 1;
    }
    33.32% {
        opacity: 1;
    }
    33.33% {
        opacity: 0;
    }
}

.wonderland-slides {
    min-height: 10em;
}

.wonderland-slides-slide {
    min-height: 10em;
    opacity: 0;
    position: absolute;
    &:nth-child(1) {
        @include animation(xfade 20s 0s infinite);
    }
    &:nth-child(2) {
        @include animation(xfade 20s 5s infinite);
    }
    &:nth-child(3) {
        @include animation(xfade 20s 10s infinite);
    }
    &:nth-child(4) {
        @include animation(xfade 20s 15s infinite);
    }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
