// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.xxHomeLogIn {
    position: absolute;
    bottom: 48px;
    left: 50%;
    z-index: $z-index-feature-content;
    white-space: nowrap;
    transform: translateX(-50%);

    @include breakpoint-mobile {
        font-size: 16px;
    }
}

.xxHomeLogIn-anchor {
    border-bottom: 1px solid $alto;
    margin-left: 20px;
    padding-bottom: 7px;

    @include breakpoint-mobile {
        margin-left: 10px;
    }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.xxHomePageStyle {
    @include breakpoint-mobile {
        height: 100vh;

        &::after {
            content: '';
            background: url('../img/xx/temporary/thumbnail-3.jpg');
            background-size: auto 100%;
            opacity: 0.2;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;

            @include landscape {
                background-size: 100%;
                background-position: center;
                
            }
        }
    }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.xxHomeImages {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: $z-index-feature-content - 1;
    height: 100vh;
    pointer-events: none;

    @include breakpoint-mobile {
        display: none;
    }

    &::before,
    &::after {
        content: '';
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        height: ($header-height + $header-margin-bottom) * 1.2;
        background: linear-gradient(
            to bottom,
            rgba($bg-color, 1) 5%,
            rgba($bg-color, .6) 55%,
            rgba($bg-color, 0) 100%
        );
    }

    &::after {
        top: auto;
        bottom:0;
        transform: rotate(180deg);
    }
}

.xxHomeImages-inner {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: $page-max-width + $gutter-width * 2;
    max-width: 100%;
    min-width: $page-min-width + $gutter-width * 2;
    height: 100vh;
    margin: 0 auto;
}

@mixin generate-home-image-animation($id, $total-duration, $duration, $delay: 0s) {
    $speed-force: -0.4; // reduce speed by 40%
    $percentage: percentage($duration / $total-duration);
    $animation-name: animate-home-image- + $id;

    @at-root {
        @keyframes #{$animation-name} {
            #{$percentage} {
                top: -200%;
            }

            100% {
                top: -200%;
            }
        }
    }

    animation: $animation-name ($total-duration / (1 + $speed-force)) linear ($delay / (1 + $speed-force)) infinite;
}

.xxHomeImages-image {
    position: absolute;
    width: 30%;
    height: auto;
    top: 100%;
    right: 0;
    border: 5px solid $white;
    transform: translateZ(0);
    @include generate-home-image-animation(1, 30s, 14s);

    &:nth-child(2) {
        right: auto;
        left: 0;
        width: 33%;
        @include generate-home-image-animation(2, 30s, 12s, 2s);
    }

    &:nth-child(3) {
        right: -10%;
        width: 36%;
        @include generate-home-image-animation(3, 30s, 20s, 4s);
    }

    &:nth-child(4) {
        right: auto;
        left: 0;
        @include generate-home-image-animation(4, 30s, 10s, 8s);
    }

    &:nth-child(5) {
        right: 2%;
        @include generate-home-image-animation(5, 30s, 10s, 14s);
    }

    &:nth-child(6) {
        right: auto;
        left: -10%;
        width: 36%;
        @include generate-home-image-animation(6, 30s, 20s, 10s);
    }

    &:nth-child(7) {
        right: 0;
        width: 33%;
        @include generate-home-image-animation(7, 30s, 18s, 20s);
    }

    &:nth-child(8) {
        right: auto;
        left: 2%;
        width: 30%;
        @include generate-home-image-animation(8, 30s, 12s, 20s);
    }

    &:nth-child(9) {
        right: auto;
        left: -1%;
        width: 35%;
        @include generate-home-image-animation(9, 30s, 12s, 26s);
    }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@keyframes upload-button-onboarding {
    0%, 25% {
        transform: scale(2.25);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes upload-button-help-onboarding {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.is-onboarding {
    .xxOverlay {
        z-index: $z-index-header - 1;
    }

    .xxNav {
        visibility: hidden;
        opacity: 0;
        transition: opacity .4s ease-out, visibility 0s .4s;
    }

    .xxUploadButton {
        animation: upload-button-onboarding .8s ease-in-out;
        transform-origin: 50% 50%;
    }

    .xxUploadButton-help {
        opacity: 0;
        animation: upload-button-help-onboarding .8s ease-in-out .4s forwards;
    }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.is-processing {
    .xxOverlay {
        z-index: $z-index-header - 1;
    }

    &.xxPage {
        &::before {
            content: '';
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            height: $processing-ribbon-height;
            background: rgba($accent-color, .2) linear-gradient(
                to right,
                rgba($accent-color, 0) 0%,
                rgba($accent-color, 0.85) 30%,
                rgba($accent-color, 1) 50%,
                rgba($accent-color, 0.85) 70%,
                rgba($accent-color, 0) 100%
            ) -17% 0 / 34% 100% no-repeat;
            animation: ribbon 5s infinite alternate ease-in-out, fade-in .4s ease-in;
        }
    }

    .xxNav {
        visibility: visible;
        opacity: 1;
        transition: opacity .4s ease-in, visibility 0s;
    }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
